@model IEnumerable<MySchool.Web.Models.StudentViewModel>

@{
    ViewData["Title"] = "AllStudents";
}

<div class="col-4">
    <div class="d-flex justify-content-between">
        <h4><span class="badge badge-pill badge-primary">Ученици</span></h4>
        <a asp-controller="Teacher" asp-action="AddStudent" class="btn btn-success">Нов ученик</a>
    </div>
</div>

<table class="table table-secondary table-hover mt-4 table-bordered table-dark text-center text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeachersCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageRatingNumberFromEverySubjects)
            </th>
            <th>
                Опции
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(s => s.Name))
        {
            <tr class="clickable-row" id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td>
                    @if (item.PhoneNumber == null)
                    {
                        <span>Няма</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @if (item.TeachersCount == 0)
                    {
                        <span>Няма</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.TeachersCount)
                    }
                </td>
                <td>
                    @if (item.AverageRatingNumberFromEverySubjects == 0)
                    {
                        <span>Няма</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.AverageRatingNumberFromEverySubjects)
                    }
                </td>
                <td class="d-flex justify-content-lg-around">
                    <button class="btn btn-success addTeachers" id="@item.Id" value="Учител" data-toggle="modal" data-target="#showTeachers">Учител</button>
                    <button class="btn btn-outline-info">Обнови</button>
                    <button class="btn btn-outline-danger">Изтрий</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="collapse" id="data">
    <div class="col-sm-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" id="student">
                <span class="first font-weight-bold">Име: </span>
                <span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center bg-light" id="year">
                <span class="first font-weight-bold">Година: </span>
                <span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" id="month">
                <span class="first font-weight-bold">Месец: </span>
                <span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center bg-light" id="day">
                <span class="first font-weight-bold">Ден: </span>
                <span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" id="phoneNumber">
                <span class="first font-weight-bold">Телефон: </span>
                <span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center bg-light" id="city">
                <span class="first font-weight-bold">Град: </span>
                <span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" id="teachers">
                <span class="first font-weight-bold">Учители: </span>
                <span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center bg-light" id="AR">
                <span class="first font-weight-bold">Оценка</span>
                <span></span>
            </li>
        </ul>
    </div>
</div>

<button id="button" class="btn btn-outline-info m-3">Покажи пълната информация</button>

<div class="modal fade" id="showTeachers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <ul id="listTeachers" class="p-0">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Затвори</button>
                </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.addTeachers').click('click', function () {
            var id = $(this)["0"].id;

            $.ajax({
                method: 'GET',
                url: '/Teacher/GetAllTeachers?id=' + id,
                success: function (data) {
                    $('#listTeachers').text('');
                    $('#listTeachers').append(`${data}`);
                    $(this)["0"].id = null;
                }
            });
        });
        $('#button').click(function () {
            if ($(this).text() === 'Покажи пълната информация') {
                $('#data').slideDown();
                $(this).text('Скрий пълната информация');
            }
            else {
                $('#data').slideUp();
                $(this).text('Покажи пълната информация');
            }
        });
        $(".clickable-row").click(function (event) {
            var id = $(this)["0"].id;

            $.ajax({
                method: 'POST',
                url: '/Teacher/StudentDetails?' + id,
                data: { id: id },
                success: function (res) {
                    $('#student span:last-child').text(res.name);
                    $('#year span:last-child').text(res.birthYear);
                    $('#month span:last-child').text(res.birthMonth);
                    $('#day span:last-child').text(res.birthDay);
                    if (res.phoneNumber === null) {
                        $('#phoneNumber span:last-child').text('Няма');
                    }
                    else {
                        $('#phoneNumber span:last-child').text(res.phoneNumber);
                    }
                    $('#city span:last-child').text(res.city);
                    if (res.teachersCount === 0) {
                        $('#teachers span:last-child').text('Няма');
                    }
                    else {
                        $('#teachers span:last-child').text(res.teachersCount);
                    }
                    if (res.averageRatingNumberFromEverySubjects === 0) {
                        $('#AR span:last-child').text('Няма');
                    }
                    else {
                        $('#AR span:last-child').text(res.averageRatingNumberFromEverySubjects);
                    }
                }
            });
        });
    });
</script>